<div class="col-sm-8 col-md-8 col-md-offset-2 col-sm-offset-2">
  <div class="block-flat">
    <% if @job.present? %>
      <div class="header">
        <h3><%= @job.title %> <span class="label label-danger pull-right"> BDT :  <%= @job.salary_range %> </span></h3>
      </div>
      <div class="content">
        <table class="no-border">
          <tr>
            <td><span class=""> Deadline </span></td>
            <td><%= @job.application_deadline %></td>
          </tr>

          <tr>
            <td><span class=""> Location </span></td>
            <td><%= @job.location %></td>
          </tr>

          <tr>
            <td><span class=""> Description </span></td>
            <td><%= @job.description.length == 0 ? ' no description available   ' : @job.description %></td>
          </tr>

          <tr>
            <td colspan="2">
              <a href="<%= job_front_url(@job.job_category_id) %>" class="btn btn-flat btn-info"><i class="fa fa-arrow-circle-left"></i> Back </a>
              <% if @already_applied %>
                  <button type="button" class="btn btn-flat btn-danger pull-right">Already applied <i class="fa fa-arrow-circle-o-right"></i>  </button>
              <% else %>
                  <a href="<%= submit_job_application_url(@job.id) %>" class="btn btn-flat btn-primary pull-right">Apply for this position <i class="fa fa-arrow-circle-o-right"></i>  </a>
            <% end %>
            </td>
          </tr>

        </table>
      </div>
    <% else %>
      <h5 class="alert r-alert">
        Job no longer available
      </h5>
    <% end %>
  </div>
</div>
