<!DOCTYPE html>
<html>
<head>
  <title>DemoJob</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="head-nav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="fa fa-gear"></span>
      </button>
      <a class="navbar-brand" href="#"><span>Demo Job</span></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right user-nav">
        <% if ! user_signed_in?  %>
        <li class="dropdown profile_menu">
          <%= link_to new_user_session_path do %>
            <i class="fa fa-sign-in"></i> Login
          <% end %>
        </li>
        <% end %>
        <% if user_signed_in? %>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa fa-power-off"></i> Logout
          <% end %>
        </li>
        <% end %>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<div id="cl-wrapper">
  <div class="container-fluid" id="pcont">
    <% if notice.present? or alert.present?  %>
    <div class="page-head">
      <% if notice.present? %>
          <div class="alert alert-info alert-white rounded">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            <div class="icon">
              <i class="fa fa-info-circle"></i>
            </div>
            <%= notice %>
          </div>
      <% end  %>
      <% if alert.present?  %>
          <div class="alert alert-warning alert-white rounded">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            <div class="icon">
              <i class="fa fa-info-circle"></i>
            </div>
            <%= alert %>
          </div>
      <% end  %>
    </div>
    <% end  %>
    <div class="cl-mcont">
      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
